@import "colors";

nav {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
   // opacity: 0.5;
    background-color: black;
    top: 0%;
    z-index: 10;


    > h1 {color: azure;
        text-transform: uppercase;
    }
    > main{
        width: 70%;
        display: flex;
        justify-content: flex-end;

        > a{
            color: azure;
            margin: 1rem;
            font-size: 1.8vw;
            font-weight: bolder;
             
            &:hover{
                 text-shadow:  black;
                 font-size: 1.84vw;
                
                text-underline-position: below;
            }
        }

    }
}